[mysql]
host = "localhost"
port = 3306
user = "user"
password = "pass"
db = "dbname"
# database is mainly to store guild list. It can be sqlite but have to update the code

[discord]
owner_ids = [386761001808166912]
admin = [386761001808166912] # pluton
token = "your discord token"
duration = 60.0 # not use
webhook = "..." # create a webhook in your Discord for some guild join/leave notification

[selenium_setting]
user_agent = "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/37.0.2062.94 Chrome/37.0.2062.94 Safari/537.36" # change to any common user agent if you want https://gist.github.com/pzb/b4b6f57144aea7827ae4
coin360_url = "https://www.coin360.com/"
win_h = 2160 # You can change this if necessary
win_w = 3840 # You can change this if necessary

[coin360]
url = "https://coin360.com/"
id_crop = "MAP_ID"
static_coin360_path = "./images/" # should be absolute path to store all screen images.
static_coin360_link = "https://coin360-img.btipz.com/coin360_images/" # change this. And create a domain and point it to the static path as above

[other_image_storage]
volume_1d = "./coin360_images_volume_1d/"
volume_1h = "./coin360_images_volume_1h/"
mcap_1h = "./coin360_images_mcap_1h/"
# mcap_1d: default

[other_coin360_link]
volume_1d = "https://www.coin360.com/?dependsOn=volume&period=1d"
volume_1h = "https://www.coin360.com/?dependsOn=volume&period=1h"
mcap_1h = "https://www.coin360.com/?dependsOn=marketCap&period=1h"
# mcap_1d: default